# Java / Maven
target/
*.class

# Spring Boot
*.log

# Docker
*.env
.dockerignore

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
terraform.tfvars.json
.terraform.lock.hcl

# VS Code
.vscode/
